<md-toolbar class="md-whiteframe-z3">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleMenu()" hide-gt-md aria-label="Menu">
            <md-icon ng-md-icon icon="menu"></md-icon>
        </md-button>
        <h1>
            Medias
        </h1>
        <span flex></span>
    </div>
</md-toolbar>

<md-content flex id="content" ng-controller="homeController as hc" when-scrolled="loadMedias()">
    <ul class="gallery" flex>
        <li ng-repeat="media in hc.medias">
            <img ng-src="{{ media.thumbnailLink }}" full-src="{{ media.fullsizeLink }}">
        </li>
    </ul>
</md-content>