{% extends "layout.html" %}

{% block banner %}
    <div id="banner">
        <img src="{{ STATIC_URL }}css/images/banner.jpg" />
    </div>
{% endblock %}
    
{% block content %}
        <form id="register_user" action="/register/" method="post">
            {% csrf_token %}
            <label for="username">Username :</label><br />
            <input type="text" class="forms" name="username" />
            {% if usernameIncorrect %}
            <p class="error_message">{{ usernameErrorMessage }}</p>
            {% endif %}
            <br />
            <label for="mail">Mail :</label><br />
            <input type="text" class="forms" name="mail" />
            {% if mailIncorrect %}
            <p class="error_message">{{ mailErrorMessage }}</p>
            {% endif %}
            <br />
            <label for="password1">Password :</label><br />
            <input type="password" class="forms" name="password1" /><br />
            <label for="password2">Retype Password :</label><br />
            <input type="password" class="forms" name="password2" />
            {% if passwordMismatch %}
            <p class="error_message">{{ passwordErrorMessage }}</p>
            {% endif %}
            <br />
            <input type="submit" class="forms" id="send" name="submit" value="Send" />
        </form>
{% endblock %}
